/* normalisation de ma page */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

/* Font personnalisée */
@font-face {
    font-family: 'proxima_nova_extra_condensXBd';
    src: url('../font/fontsfree-net-proxima-nova-excn-xbold-webfont.woff2') format('woff2'),
         url('../font/fontsfree-net-proxima-nova-excn-xbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novaregular';
    src: url('../font/fontsfree-net-proximanova-regular-webfont.woff2') format('woff2'),
         url('../font/fontsfree-net-proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'proxima_novathin';
    src: url('../font/fontsfree-net-proxima-nova-thin-webfont.woff2') format('woff2'),
         url('../font/fontsfree-net-proxima-nova-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "ProximaNova Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

/*header*/

header{

    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding-top: 1rem;
    background: rgb(221, 221, 221);
}

.imghead{
    width: 40%;
}

.listmod{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 1em;
}



header nav ul li a {
    padding: 1em;
    text-decoration: none;
    color: #36383b;
}

/* section 2part img+ h1*/

.section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem;
}

.section1 .div1 {
    margin-top: 5rem;
    margin-left: 13rem;
    flex: 1;
}

h1{
    font-size: 4rem;
    margin: 1rem 0 1rem 0;
}

.section1 .div1 p {
    font-size: 2rem;
    margin: 0.5rem 0 0.5rem 0;
    color: #56575b
}
.section1 .div1 a {
    font-size: 2rem;
    display: inline-block;
    background: #2a5bd7;
    padding: 2rem;
    text-decoration: none;
    color: white;
    border-radius: 6px;
    margin: 3rem 0 1rem 0;
}

/*section avec form*/
.sectionform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin-bottom: 2rem;
    background: #0b1736;
    padding: 2rem;
}

.sectionform form{
    display: flex;
    justify-content: center;
    width: 85%;
    margin: auto;
}

.sectionform p{
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.685);
}


.sectionform form input[type=url] {
    flex: 8;
    padding: 2rem;
}

::placeholder {
    font-size: 1.5rem;
}

.sectionform form input[type=submit] {
    flex: 2;
    background: #1b3987;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.sectionform form input {
    border: none;
    border-radius: 6px;
    margin: 1.5rem;
}

.sectionform p a {
    text-align: center;
    color: rgba(255, 255, 255, 0.685);
    text-decoration: none;

}

/*section avec h2*/

.sectionh2{
    margin: 5rem;
}

.sectionh2 h2{
display: flex;
justify-content: center;
}

.imagesech2{
margin: 2rem;
display: flex;
justify-content: center;
}


/*footer*/
footer {
    text-align: center;
    color: black;
    background: rgb(221, 221, 221);
    padding: 2rem;
    margin-top: 2rem;
}

footer img {
    width: 15%;
}